<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Inserting Knowledge on the Internet</p>
    <ul>
      <li>Its a big responsiblity</li>
      <li>Don't swear</li>
      <li>Dont troll in the comment section</li>
    </ul>The incessant use of hashtags will get you banned.</li>
  </div>
  <div class="col-md-8">
    <%= form_for @wiki do |w| %>
      <div class="form-group">
        <%= w.label :title %>
        <%= w.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      </div>
      <div class="form-group">
        <%= w.label :body %>
        <%= w.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
      </div>
      <div class="form-group">
        <%= w.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>